# Cloud/general deployment dependency.
# Bump the Git tag when the backend package updates. Releases are not installed from PyPI.
nist-unit-converter @ git+https://github.com/KennyZhou2022/unit-converter.git@v2.0.0
