# Cloud/general deployment dependency.
# Bump the tag or switch to a published PyPI version when the backend package updates.
unit-converter @ git+https://github.com/KennyZhou2022/unit-converter.git@v1.3.0
